{% extends 'base.html' %}

{% load static %}
{% load goods_tags %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5 mb-4"> <!-- Додано класи mt-5 та mb-4 -->
        <div class="col">
{#            {% if request.GET.q %}#}
{#            <h3 class=" result search-results-heading">Результати пошуку за запитом {{ request.GET.q }}</h3> <!-- Додано клас search-results-heading -->#}
{#            {% if not goods %}#}
{#            <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">#}
{#            <h2 class="result no-result search-results-heading">Нічого не знайдено</h2>#}
{#            {% endif %}#}
{#            {% endif %}#}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for product in goods %}
                <!-- Карта товара -->
                <div class="col mt-4">
                    <div class="card border-primary rounded my-shadow h-100">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                        <img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url "catalog:product" product.slug %}">
                                <p class="card-title">
                                    {% autoescape off %}
                                    {% if product.headline %}
                                    {{product.headline}}
                                    {% else %}
                                    {{ product.name }}
                                    {% endif %}
                                    {% endautoescape %}
                                </p>
                            </a>
                            <p class="card-text">
                                {% autoescape off %}
                                {% if product.bodyline %}
                                {{product.bodyline|truncatechars:100}}
                                {% else %}
                                {{ product.description|truncatechars:35 }}
                                {% endif %}
                                {% endautoescape %}
                            </p>
                            <p class="product_id">id: {{ product.display_id }}</p>
                            <div class="d-flex justify-content-between">
                                {% if product.discount %}
                                <p><s>{{product.price}}</s> грн</p>
                                <p><strong>{{ product.sell_price }} грн</strong></p>
                                <span class="badge bg-warning text-dark">Скидка {{ product.discount }} %</span>
                                {% else %}
                                <p><strong>{{ product.price }} грн</strong></p>
                                {% endif %}
                                <a href="{% url 'cart:cart_add'%}" class="btn add-to-cart" data-product-id="{{ product.id }}">
                                    {% csrf_token %}
                                    <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon" width="32"
                                        height="32">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Пагінація -->
{% if goods %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <div class="my-shadow d-flex">
            <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
                <a class="page-link"
                    href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %} # {% endif %}">Попередня</a>
            </li>
            {% with lower_limit=goods.number|add:"-2" upper_limit=goods.number|add:"2" %}
            {% for page in goods.paginator.page_range %}
            {% if page >= lower_limit and page <= upper_limit %}
            <li class="page-item {% if goods.number == page %}active{% endif %}">
                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endwith %}
            <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                <a class="page-link"
                    href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %}{% else %} # {% endif %}">Наступна</a>
            </li>
        </div>
    </ul>
</nav>
{% endif %}
{% endblock content %}
