{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-message"></p>
    </div>
</div>

    <!-- Ваш HTML-код ... -->

<div class="product-card" id="productCard" data-product-name="{{ product.name }}">
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <h5 class="product-price">{{ product.price }} грн</h5>
    <div class="quantity">
        <label for="quantity">Кількість:</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1">
    </div>
    <button id="addToCartBtn">Додати до кошика</button>
    <div class="additional-buttons" style="display: none;">
        <button id="continueShoppingBtn">Продовжити покупки</button>
        <button id="checkoutBtn">Оформити замовлення</button>
    </div>
</div>

<!-- Ваш HTML-код ... -->


{% endblock content %}




