

{% extends 'base.html' %}

{% load static %}



{% block content %}
<div class="product-card my-shadow" id="productCard" data-product-name="{{ product.name }}">
    <div>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%; object-fit: contain;">
    </div>
    <div class="product-info">
        <h2 class="product-title">{{ product.name }}</h2>
        <p class="product-desc">{{ product.description }}</p>
        <h5  class="product-price">{{ product.price }} грн</h5>
        <a id="addToCartBtn" class="btn btn-dark inline-block">Додати до кошика</a>
    </div>
</div>
{% endblock content %}


