body {
  background-image: url("../images/Дизайн без названия.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.my-shadow {
  box-shadow: 2px 2px 15px 10px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.search-results-heading {
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 38px;

}

.info-m {
    margin-top: 95px !important;
}


.title-info {
    text-align: center;
    margin-bottom: 30px !important;
    margin-top: -15px !important;
}

.info-text{
    margin-bottom: 20px !important;
    /*font-size: 20px;*/
}

.result {

    font-size: 25px;
}

.no-result {
    margin-top: 30px;
}

@media (max-width: 700px) {
    .info-text {
        font-size: 18px;
    }

}

@media (max-width: 400px) {
    .no-result {
        font-size: 25px;
        margin-top: 85px;
}
    
}




